<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.saroshmadara.root.premiotravelsandtours">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_premio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Fabric.io begins here-->
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="551959bbcaf7b9a735ff583f0d8540c8d0ce709c"-->
        <!--/>-->

        <!-- Fabric.io ends here-->

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".ui.activity.PackageDetailActivity">
            <!--<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.activity.MainActivity"/>-->
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="551959bbcaf7b9a735ff583f0d8540c8d0ce709c" />
    </application>

</manifest>